body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  background: url('backgimage.png');
  background-size: cover;
  overflow: hidden;
}


body{
  background: linear-gradient(-45deg, #d13355, #50f21f, #d223d5, #0911ed);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
  color: white;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.grid-container > div {
  font-size: 40px;
}


.navbar {
  grid-column: 1 / 11;
  padding: 20px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


#logo {
  font-size: 60px;
  margin-top: -50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu-bar {
  font-size: 60px;
  cursor: pointer;
  display: none; 
}


.nav-links {
  list-style: none;
  margin-top: -3px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-links li a {
  font-size: 60px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffcc00;
}


.image-section {
  grid-column: 1 / 5;
  text-align: center;
}

.image-section img {
  width: 320px;
  height: auto;
  border-radius: 50%;
  margin-top: -15px;
  margin-left: -200px;
}


.text-section {
  grid-column: 5 / 11;
  display: grid;
  place-content: center;
  margin-left: -620px;
}

.text-section ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: 10vh;
  font-weight: bold;
}

.text-section li:nth-child(1) {
  font-size: 70px;
  margin-top: -5vh;
  text-align: center;
}

.text-section li:nth-child(2) {
  font-size: 70px;
  text-align: center;
}

.text-section li:nth-child(3) {
  font-size: 75px;
  margin-bottom: 40px;
  text-align: center;
}

.text-section li:nth-child(4),
.text-section li:nth-child(5),
.text-section li:nth-child(6) {
  font-size: 50px;
  margin-left: 330px;
}

/* Footer */
.footer {
  grid-column: 1 / 11;
  height: 10vh;
}