@media screen and (max-width: 1300px) {


    .navbar {
        
        

        ul li a {
         float: right;    
        margin-top: 0vh;
        font-size: 40px;
        }

        #logo {
            
            font-size: 40px;
            
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 200px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 40px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 40px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size: 45px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 30PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 30PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 30PX;
                text-align: center;
                margin-left: -200px;
            }
        
    }
}

@media screen and (max-width: 1050px) {


    .navbar {
        
        

        ul li a {
        
        font-size: 35px;
        }

        #logo {
            
            font-size: 35px;
            
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 190px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 35px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 35px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size: 40px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 25PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 25PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 25PX;
                text-align: center;
                margin-left: -200px;
            }
        
    }
}

@media screen and (max-width: 1000px) {


    .navbar {
        
       

        ul li a {   
        padding-top: 10px;
        font-size: 30px;
        }

        #logo {
            padding-top: 0px;
            font-size: 30px;  
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 190px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 35px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 35px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size: 40px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 25PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 25PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 25PX;
                text-align: center;
                margin-left: -200px;
            }
        
    }
}

@media (max-width: 900px) {
  .menu-bar {
    display: block; 
  }

  .nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: -20px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .nav-links.show {
    display: flex; 
  }

  .nav-links li a {
    font-size: 35px;
  }

 
  .image-section {
    grid-column: 1 / 11;
    text-align: center;
    margin: 0;
  }

  .image-section img {
    margin-left: -150px;
  }

  .text-section {
    grid-column: 1 / 11;
    margin: 0;
    text-align: center;
  }

  .text-section li {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {


    .navbar {
        
       

        ul li a {   
<<<<<<< HEAD
        padding-top: 20px;
        padding-right: 20px;
        margin-left: -30px;
        font-size: 20px;
        }

        #logo {
           
            font-size: 30px;  
=======
        padding-top: 10px;
        font-size: 28px;
        }

        #logo {
            padding-top: 0px;
            font-size: 28px;  
>>>>>>> c3bac4985efae858ce61975c54569810160430e8
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 190px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 35px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 35px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size: 40px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 25PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 25PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 25PX;
                text-align: center;
                margin-left: -200px;
            }
        
<<<<<<< HEAD
=======
    }
}

@media screen and (max-width: 800px) {


    .navbar {
        
       

        ul li a {   
        padding-top: 20px;
        padding-right: 20px;
        margin-left: -30px;
        font-size: 20px;
        }

        #logo {
           
            font-size: 20px;  
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 190px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 35px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 35px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size: 40px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 25PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 25PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 25PX;
                text-align: center;
                margin-left: -200px;
            }
        
>>>>>>> c3bac4985efae858ce61975c54569810160430e8
    }
}

@media screen and (max-width: 700px) {


    .navbar { 
        
        ul li a {
        padding-top: 20px;
        padding-right: 20px;
        margin-left: -30px;
        font-size: 20px;
        }

        #logo {
            
<<<<<<< HEAD
            font-size: 30px;
=======
            font-size: 20px;
>>>>>>> c3bac4985efae858ce61975c54569810160430e8
            
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 150px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 30px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 30px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size: 35px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 15PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 15PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 15PX;
                text-align: center;
                margin-left: -200px;
            }
        
    }
}

@media screen and (max-width: 600px) {


    .navbar {
        
        

        ul li a {
        padding-top: 20px;
        padding-right: 20px;
        margin-left: -30px;
        font-size: 15px;
        }

        #logo {
            
<<<<<<< HEAD
            font-size: 20px;
=======
            font-size: 15px;
>>>>>>> c3bac4985efae858ce61975c54569810160430e8
            
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 120px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 30px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 30px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size: 35px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 15PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 15PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 15PX;
                text-align: center;
                margin-left: -200px;
            }
        
    }
}

@media screen and (max-width: 500px) {


    .navbar {
        
       

        ul li a {
        padding-top: 20px;
       
       padding-left: -10px;
        font-size: 15px;
        }

        #logo {
            
<<<<<<< HEAD
            font-size:20px;
=======
            font-size:15px;
>>>>>>> c3bac4985efae858ce61975c54569810160430e8
            
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 120px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 25px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 25px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size: 25px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 15PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 15PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 15PX;
                text-align: center;
                margin-left: -200px;
            }
        
    }
}

@media screen and (max-width: 400px) {


    .navbar {

        ul li a {
        margin-left: -30px;
        font-size: 10px;
        
        
        }

        #logo {
<<<<<<< HEAD
            font-size: 20px;  
=======
            font-size: 10px;  
>>>>>>> c3bac4985efae858ce61975c54569810160430e8
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 100px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 15px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 15px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size:15px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 10PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 10PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 10PX;
                text-align: center;
                margin-left: -200px;
            }
        
    }
}

@media screen and (max-width: 300px) {


    .navbar {

        

        ul li a {
        margin-left: -40px;
        font-size: 5px;
       
        }

        #logo {
<<<<<<< HEAD
            font-size: 15px;  
=======
            font-size: 5px;  
>>>>>>> c3bac4985efae858ce61975c54569810160430e8
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 70px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
<<<<<<< HEAD
            margin-left: -5px;
=======
            margin-left: -70px;
>>>>>>> c3bac4985efae858ce61975c54569810160430e8
        }
    }

    .text-section {
        grid-column: 1/11;
       
<<<<<<< HEAD
       margin-left: 150px;
=======
       margin-left: 100px;
>>>>>>> c3bac4985efae858ce61975c54569810160430e8

        li:nth-child(1) {
            font-size: 10px;
            margin-top: -10vh;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(2) {
            font-size: 10px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(3) {
            font-size:10px;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(4) {
            font-size: 10PX;
            text-align: center;
            margin-left: -200px;
        }

        li:nth-child(5) {
            font-size: 10PX;
           text-align: center;
           margin-left: -200px;

        }
         li:nth-child(6) {
                font-size: 10PX;
                text-align: center;
                margin-left: -200px;
            }
        
    }
}





